@mixin margin($margin) {
  padding: $margin;
}

@mixin padding($padding) {
  padding: $padding;
}

.primary-footer {
  @include margin(null null null null);
  @include padding(0px null 0px null);
  background-color: #222222;
  color: #FCFCFC;
  & h2.section-heading {
    font-size: 36px;
  }
  & h3.section-heading {
    @include margin(null null null null);
    @include padding(5px null 0px null);    
    font-size: 24px;
  }
  & a {
    font-size: 16px;
    font-weight: bold;
  }
  & img {
    @include margin(null null null null);
    @include padding(10px null 0px null);
  }
  & .copyright-notice {
    @include margin(0px null null null);
    @include padding(20px null 0px null);
    color: darken(#FCFCFC, 30%);
  }
}
