// filename: footers.scss
// custom footer variables
$headingFontStack: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$copyFontStack: 'Source Serif Pro', 'Garamond', 'Georgia', 'Times New Roman', serif;

// custom mixins
@mixin margin($margin) {
  padding: $margin;
}

@mixin padding($padding) {
  padding: $padding;
}

footer {
  border: none;
}

// maps to the custom primary footer section
.primary-footer {
  @include margin(null null null null);
  @include padding(0px null 0px null);
  background-color: #222222;
  border: none;
  color: #CCCCCC;

  & h1.heading {
    font-family: $headingFontStack;
    font-size: 4.236em;
  }
  & h2.heading {
    font-family: $headingFontStack;
    font-size: 2.618em;
  }
  & h3.heading {
    @include margin(null null null null);
    @include padding(5px null 0px null);
    font-family: $headingFontStack;
    font-size: 1.618em;

  }
  & h4.heading {
    font-family: $headingFontStack;
    font-size: 1.618em;
  }
  & p.copy {
    color: #CCCCCC;
    font-family: $copyFontStack;
    font-size: 16px;
    font-size: 1rem;
    @include margin(null null null null);
    @include padding(0px null 0px null);
  }
  & a {
    font-family: $copyFontStack;
    font-size: 1rem;
    font-weight: bold;
  }
  & a:hover {
    font-size: 1rem;
    font-weight: bold;
    text-transform: underline;
  }
  & img {
    margin-top: 15px;
  }
  & p.copyright-notice {
    @include margin(0px null null null);
    @include padding(20px null 0px null);
    color: #CCCCCC;
    font-family: $copyFontStack;
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
  }
}
