// filename: heros.scss
$headingFontStack: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$descriptionFontStack: 'EB Garamond', 'Garamond', 'Georgia', 'Times New Roman', serif;

@mixin margin($margin) {
  padding: $margin;
}

@mixin padding($padding) {
  padding: $padding;
}

.hero {
  @include margin(null null null null);
  @include padding(60px null 60px null);
  background-color: #222222;
  color: #FCFCFC;
  & h1.heading {
    @include margin(null null null null);
    @include padding(0px null 0px null);
    font-family: $headingFontStack;
    font-size: 5.063rem;
    text-transform: uppercase;
    & .dark-gray-border {
      border-bottom: solid 5px #999999;
    }
  }
  & .hero-heading {
    @include margin(null null null null);
    @include padding(0px null 0px null);
    font-size: 45px;
    text-transform: uppercase;
  }
  & .hero-subheading {
    @include margin(null null null null);
    @include padding(0px null 0px null);
    font-family: $descriptionFontStack;
    font-size: 16px;
    text-transform: uppercase;
  }
  & p.lead {
    @include margin(null null null null);
    @include padding(40px null 0px null);
    font-family: $descriptionFontStack;
    font-size: 30px;
  }
  & .hero-icon {
    @include margin(null null null null);
    @include padding(20px null 0px null);
    font-size: 54px;
  }
  & .hero-arrow-icon {
    @include margin(null null null null);
    @include padding(0px null 0px null);
    font-size: 21px;
    color: #999999;
  }
  & a {
    color: #999999;
  }
  & a:hover {
    color: darken(#999999, 10%);
  }
  & .white .hollow .button {
    color: #FFFFFF;
  }
  & a.white.hollow.button {
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
  }
}
