// custom mixins
@mixin margin($margin) {
  padding: $margin;
}

@mixin padding($padding) {
  padding: $padding;
}

// custom navigation variables
$navigationFontStack: 'Oswald', 'Helvetica Neue', 'Arial', sans-serif;

// maps to the custom primary navigation
#primary-navigation {
  @include margin(null null null null);
  @include padding(20px null 20px null);
  background-color: #FFFFFF;
  & ul {
    background-color: #FFFFFF;
  }
  & ul.menu li a {
    font-family: $navigationFontStack;
    font-size: 21px;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
    & .blue-border {
      border-bottom: solid 5px #FFFFFF;
    }
  }
  & ul.menu li a:hover {
    color: darken(#222222, 20%);
    & .blue-border {
      border-bottom: solid 5px #0066CC;
    }
  }
  & ul.menu li a:active {
    color: darken(#222222, 20%);
    text-decoration: none;
    & .blue-border {
      border-bottom: solid 5px #0066CC;
    }
  }
  & ul.menu li a.button {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
  }
}

// maps to the secondary navigation class
.secondary-navigation {
  @include margin(null null null null);
  @include padding(40px null 0px null);
  background-color: #222222;
  & ul li a {
    color: #CCCCCC;
    font-family: $navigationFontStack;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    & .blue-border {
      border-bottom: none;
    }
  }
  & ul li a:hover {
    text-decoration: none;
    & .blue-border {
      border-bottom: solid 5px #0066CC;
    }
  }
}
