@mixin margin($margin) {
  padding: $margin;
}

@mixin padding($padding) {
  padding: $padding;
}


#primary-navigation {
  @include margin(null null null null);
  @include padding(20px null 20px null);
}

.secondary-navigation {
  @include margin(null null null null);
  @include padding(40px null 0px null);
  background-color: #222222;
}
