// filename: navigation.scss
// custom mixins
@mixin margin($margin) {
  padding: $margin;
}

@mixin padding($padding) {
  padding: $padding;
}

// custom navigation variables
$navigationFontStack: 'Oswald', 'Helvetica Neue', 'Arial', sans-serif;

// PRIMARY NAV COMPONENT

// maps to the custom primary navigation
#primary-nav {
  @include margin(null null null null);
  @include padding(15px null 15px null);
  background-color: #FFFFFF;
  border-bottom: solid 2px #CCCCCC;
  & ul {
    background-color: #FFFFFF;
  }
  & ul.menu li a {
    font-family: $navigationFontStack;
    font-size: 21px;
    font-weight: bold;
    color: #222222;
    text-transform: uppercase;
    & .blue-border {
      border-bottom: solid 5px #FFFFFF;
    }
    & .grey-border {
      border-bottom: solid 5px #FFFFFF;
    }
  }
  & ul.menu li a:hover {
    color: darken(#222222, 20%);
    & .blue-border {
      border-bottom: solid 5px #0066CC;
    }
    & .grey-border {
      border-bottom: solid 5px #999999;
    }
  }
  & ul.menu li a:active {
    color: darken(#222222, 20%);
    text-decoration: none;
    & .blue-border {
      border-bottom: solid 5px #0066CC;
    }
  }
  & ul.menu li a.button {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
  }
}

#contact-info-bar {
  background-color: #222222;
  & .menu {
    background-color: #222222;
  }
  & .menu-text {
    color: #FFFFFF;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    font-size: 21px;
    text-transform: uppercase;
  }
}

.title-bar {
  background-color: #FFFFFF;
  & .menu-icon {
    color: #222222 !important;
  }
  & .title-bar-title {
    color: #222222;
  }
}

// SECONDARY NAV COMPONENT

// maps to the secondary navigation class
.secondary-navigation {
  @include margin(null null null null);
  @include padding(40px null 0px null);
  background-color: #222222;
  & ul li a {
    color: #CCCCCC;
    font-family: $navigationFontStack;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    & .blue-border {
      border-bottom: none;
    }
  }
  & ul li a:hover {
    text-decoration: none;
    & .blue-border {
      border-bottom: solid 5px #0066CC;
    }
  }
}

.offset {
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

// TITLE BAR COMPONENT

.title-bar {
  border-bottom: solid 2px #CCCCCC;
  height: 100px;
  @include margin(null null null null);
  @include padding(25px 5px 5px 5px);
  & .title-bar-title {
    @media screen and (min-width: 40em) {
      font-size: 32px !important;
    }
  @include padding(5px 5px 25px 0px);
    color: #222222 !important;
    font-family: $navigationFontStack;
    font-size: 21px !important;
    font-weight: bold;
    text-transform: uppercase;
    & a {
      color: #222222 !important;
    }
  }
  & button {
    font-weight: bold;
  }
}

// OFF CANVAS NAV COMPONENT

// position left
.position-left {
  background-color: #FFFFFF;
  & .menu a {
    text-transform: uppercase;
    font-weight: bold;
  }
  & .menu a:hover {
    text-decoration: underline !important;
  }
  & .menu a:active{
    text-decoration: underline;
  }
}

// position right
.position-right {
  background-color: #222222;
  & .menu a {
    text-transform: uppercase;
    font-weight: bold;
  }
  & .menu a:hover {
    text-decoration: underline !important;
  }
  & .menu a:active{
    text-decoration: underline;
  }
  & .menu .menu-text {
    color: #FFFFFF;
    text-transform: uppercase;
  }
}
