@mixin margin($margin) {
  padding: $margin;
}

@mixin padding($padding) {
  padding: $padding;
}

#project-management-skillset {
  @include margin(null null null null);
  @include padding(60px null 60px null);
  background-color: #666666;
  height: 60vh;
}

#frontend-development-skillset {
  @include margin(null null null null);
  @include padding(60px null 60px null);
  background-color: #666666;
  height: 60vh;
}

.meet-robert-g-raleigh {
  @include margin(0px null 0px null);
  @include padding(20px null 20px null);
  background-color: #666666;
}

.professional-skillset {
  @include margin(0px null 0px null);
  @include padding(20px null 20px null);
  background-color: #666666;
}

.contact-information {
  @include margin(0px null 0px null);
  @include padding(20px null 20px null);
  background-color: #666666;
}

.work-experience {
  @include padding(60px null 60px null);
  background-color: #666666;
}

.contact-us {
  @include padding(60px null 60px null);
  background-color: #ffff00;
}
