$cardHeadingFontStack: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$cardDescriptionFontStack: 'EB Garamond', 'Garamond', 'Georgia', 'Times New Roman', serif;

$contactBarFontStack: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

@mixin margin($margin) {
  padding: $margin;
}

@mixin padding($padding) {
  padding: $padding;
}

#project-management-skillset {
  @include margin(null null null null);
  @include padding(60px null 60px null);
  background-color: #666666;
  height: 60vh;
}

#frontend-development-skillset {
  @include margin(null null null null);
  @include padding(60px null 60px null);
  background-color: #666666;
  height: 60vh;
}

.hero {
  & .hero-icon {
    color: #999999;
  }
}

.orbit {
  margin-top: 20px;
}

section {
  & .section-image {
    margin-top: 20px;
  }
}

.contact-bar {
  @include margin(0px null 0px null);
  @include padding(20px null 20px null);
  border-top: solid 2px #999999;
  border-bottom: solid 2px #999999;
  & h2.contact-bar-heading {
    font-family: $contactBarFontStack;
    font-weight: bold;
    font-size: 54px;
    text-transform: uppercase;

  }
  & h3.contact-bar-heading {
    @include margin(0px null 0px null);
    @include padding(0px null 0px null);
    font-family: $contactBarFontStack;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.about-robert {
  @include margin(0px null 0px null);
  @include padding(60px null 60px null);
  background-color: #FCFCFC;
  & h2.section-heading {
    font-size: 54px;
  }
  & .lead {
    font-size: 30px;
  }
}

.roberts-story {
  @include margin(0px null 0px null);
  @include padding(60px null 60px null);
  background-color: #FCFCFC;
}

.skillset {
  @include margin(0px null 0px null);
  @include padding(40px null 40px null);
  background-color: #666666;
  & .card {
    @include margin(0px null 0px null);
    @include padding(20px null 20px null);
    background-color: #666666;
    border: solid 2px #CCCCCC;
    border-radius: 5px;
  }
  & .section-heading {
    color: #FCFCFC;
  }
  & .section-description {
    color: #FCFCFC;
  }
  & .card-heading {
    font-family: $cardHeadingFontStack;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
  }
  & .card-description {
    font-family: $cardDescriptionFontStack;
    font-size: 16px;
  }
  & .card-icon {
    @include margin(0px null 0px null);
    @include padding(20px null 0px null);
    font-size: 54px;
  }
}

.experience {
  @include margin(0px null 0px null);
  @include padding(40px null 40px null);
  background-color: #FCFCFC;
  & .accordion-title {
    font-size: 21px;
    color: #222222;
  }
  & .tabs-title > a {
    color: #222222;
    font-family: $cardHeadingFontStack;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.contact-information {
  @include margin(0px null 0px null);
  @include padding(20px null 20px null);
  background-color: #222222;
  background-image: url("images/gray-sand.png");
  background-repeat:repeat;
  background-position: center;
  color: #FCFCFC;
  font-size: 18px;
}

.work-experience {
  @include padding(60px null 60px null);
  background-color: #666666;
}

.clients {

}

.projects {

}

.contact-us {
  @include padding(20px null 40px null);
  & h2.section-heading {
    @include margin(null null null null);
    padding-bottom: 20px;
  }
  & img {
    @include margin(null null null null);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
  & .menu a{
    @include margin(null null null null);
    @include padding(0px);
  }
}

.get-started {
  @include margin(0px null 0px null);
  @include padding(40px null 40px null);
  & .card {
    background-color: #FEFEFE;
    border: solid 2px #CCCCCC;
    border-radius: 5px;
  }
  & .card-icon {
    @include margin(0px null 0px null);
    @include padding(20px null 0px null);
    font-size: 54px;
  }
}

.blue-border {
  border-bottom: solid 5px #0066CC;
}
