// filename: sections.scss

// custom mixins
@mixin margin($margin) {
  padding: $margin;
}

@mixin padding($padding) {
  padding: $padding;
}

// custom sections variables
$headingFontStack: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$copyFontStack: 'EB Garamond', 'Garamond', 'Georgia', 'Times New Roman', serif;
$cardHeadingFontStack: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$cardDescriptionFontStack: 'EB Garamond', 'Garamond', 'Georgia', 'Times New Roman', serif;
$contactBarFontStack: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$labelFontStack: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

#sendNote {
  height: 90%;
}

// maps to the custom about robert section
section.about-robert {
  @include margin(40px null null null);
  @include padding(null nulll null null);
}

section.how-we-work {
  @include margin(null null null null);
  @include padding(60px null 60px null);
}

section.products {
  @include margin(null null null null);
  @include padding(60px null 60px null);
}

section.services {
  @include margin(null null null null);
  @include padding(60px null 60px null);
}

// maps to the custom get started section
section.get-started {
  @include margin(40px null 40px null);
  @include padding(null null null null);
  & .card {
    background-color: #FFFFFF;
    border: solid 2px #CCCCCC;
    border-radius: 5px;
  }
  & .card-icon {
    @include margin(0px null 0px null);
    @include padding(20px null 0px null);
    font-size: 54px;
  }
}

// maps to the custom contact bar class
section.contact-bar {
  @include margin(0px null 0px null);
  @include padding(10px null 10px null);
  border-top: solid 2px #CCCCCC;
  border-bottom: solid 2px #CCCCCC;
  background-image: url("images/sayagata.png");
  & .button {
    font-family: $contactBarFontStack;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 20px;
  }
  & .contact-bar-heading {
    color: #222222;
    margin-top: 15px;
    font-family: $contactBarFontStack;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

// maps to the custom blog section
section.blog {
  background-color: #FFFFFF;
  @include margin(null null null null);
  @include padding(null null null null);
}

// maps to the custom contact us section
section.contact-us {
  @include padding(40px null 40px null);
  @include padding(null null null null);
  & h2.section-heading {
    @include margin(null null null null);
    padding-bottom: 20px;
  }
  & img {
    @include margin(null null null null);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
  & .menu a{
    @include margin(null null null null);
    @include padding(0px);
  }
}

.hero {
  & .hero-icon {
    color: #999999;
  }
}

.callout {
  border: solid 2px #CCCCCC;
}

.orbit {
  margin-top: 20px;
}

.label {
  font-family: $labelFontStack;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.blue-border {
  border-bottom: solid 5px #3399FF;
}

.callout-quote {
  font-family: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 2.0rem;
  font-weight: bold;
  text-transform: uppercase;
}
