// import the necessary google fonts
@import url('https://fonts.googleapis.com/css?family=Oswald|Source+Serif+Pro');

@mixin margin($margin) {
  padding: $margin;
}

@mixin padding($padding) {
  padding: $padding;
}

$black: #000000;
$white: #FCFCFC;
$blue: #0066CC;
$dark-gray: #222222;

$headingFontStack: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$copyFontStack: 'Source Serif Pro', 'Garamond', 'Georgia', 'Times New Roman', serif;

html {
  font-size: 16px;
}

.heading {
  font-family: $headingFontStack;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

h1.heading {
  font-family: $headingFontStack;
  font-size: 5.063rem;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin-bottom: 20px;
}

h2.heading {
  font-family: $headingFontStack;
  font-size: 3.375rem;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin-bottom: 40px;
}
h3.heading {
  font-family: $headingFontStack;
  font-size: 2.25rem;
  font-weight: bold !important;
  text-transform: uppercase !important;
}
h4.heading, h5.heading, h6.heading {
  font-family: $headingFontStack;
  font-size: 1.5rem;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

p.lead {
  font-family: $copyFontStack;
  font-size: 1.25em;
  font-weight: 600;
  text-transform: none;
}

p.copy {
  color: #333333;
  font-family: $copyFontStack;
  font-size: 1rem;
  font-weight: 600;
  @include margin(10px null null null);
  @include padding(0px null 0px null);
}

li.copy {
  font-family: $copyFontStack;
  font-weight: 600;
}

.section-heading {
  color: #222222;
  @include margin(null null 20px null);
  @include padding(0px null 0px null);
  font-family: $headingFontStack;
  font-size: 54px;
  font-weight: bold;
  text-transform: uppercase;
}

.grey-border {
  border-bottom: solid 5px #CCCCCC;
}

.bold {
  font-weight: bold;
}
