// import the necessary google fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather|Oswald');

@mixin margin($margin) {
  padding: $margin;
}

@mixin padding($padding) {
  padding: $padding;
}

$black: #000000;
$white: #FCFCFC;
$blue: #0066CC;
$dark-gray: #222222;

$headingFontStack: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$descriptionFontStack: 'Merriweather', 'EB Garamond', 'Garamond', 'Georgia', 'Times New Roman', serif;

.heading {
  font-family: $headingFontStack;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

h1.heading {
  font-family: $headingFontStack;
  font-size: 5.063rem;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin-bottom: 20px;
}

h2.heading {
  font-family: $headingFontStack;
  font-size: 3.375rem;
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin-bottom: 40px;
}
h3.heading {
  font-family: $headingFontStack;
  font-size: 2.25rem;
  font-weight: bold !important;
  text-transform: uppercase !important;
}
h4.heading, h5.heading, h6.heading {
  font-family: $headingFontStack;
  font-size: 1.5rem;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

p.copy {
  font-size: 1rem;
  @include margin(10px null null null);
  @include padding(0px null 0px null);
}

.section-heading {
  color: #222222;
  @include margin(null null 20px null);
  @include padding(0px null 0px null);
  font-family: $headingFontStack;
  font-size: 54px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-subheading {
  @include margin(null null null null);
  @include padding(10px null 0px null);
  font-family: $headingFontStack;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-description {
  @include margin(null null null null);
  @include padding(10px null 0px null);
  font-family: $descriptionFontStack;
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
}

.lead {
  font-family: $descriptionFontStack;
  font-size: 30px;
  font-weight: bold;
  text-transform: none;
}

.grey-border {
  border-bottom: solid 5px #CCCCCC;
}
