// import the necessary google fonts
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

@mixin margin($margin) {
  padding: $margin;
}

@mixin padding($padding) {
  padding: $padding;
}

$black: #000000;
$white: #FCFCFC;
$blue: #0066CC;
$dark-gray: #222222;

$headingFontStack: 'Oswald', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$descriptionFontStack: 'EB Garamond', 'Garamond', 'Georgia', 'Times New Roman', serif;

p {
  @include margin(10px null null null);
  @include padding(0px null 0px null);
}

.section-heading {
  color: #222222;
  @include margin(null null 20px null);
  @include padding(0px null 0px null);
  font-family: $headingFontStack;
  font-size: 54px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-subheading {
  @include margin(null null null null);
  @include padding(10px null 0px null);
  font-family: $headingFontStack;
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
}

.section-description {
  @include margin(null null null null);
  @include padding(10px null 0px null);
  font-family: $descriptionFontStack;
  font-size: 24px;
  font-weight: normal;
  text-transform: none;
}

.lead {
  font-family: $descriptionFontStack;
  font-size: 30px;
  font-weight: bold;
  text-transform: none;
}

.grey-border {
  border-bottom: solid 5px #CCCCCC;
}
